*{
	font-family: "Comic Sans MS";
}
body{
	margin: 0;
	padding: 0;
}

.topo{
	height: 50px;
	background-color: #353535;
}	

.topoint{
	width: 1000px;
	margin:auto;
	color: white;
}
.logomarca{
	float: left;
	font-size: 25px;
	line-height: 50px;
}
.menu{
	float: right;
}

.menu ul, .menu li{
	margin:0;
	padding:0;
	list-style: none;
	height: 50px;
	font-size: 14px;
}


.menu li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	cursor: pointer;
}
.menu a{
	text-decoration: none;
	color:white;
}
.menu li:hover{
	background-color: #3480c1;
}

.banner{
	background-color:#3480c1;
	height: 350px; 
}
.bannerint{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding-top: 20px;
	color: white;
}
.bannerintleft{
	width: 50%;
	float: left;

}
.bannerintright{
	width: 50%;
	float: right;
	text-align: center;
}
.bannerintleft button{
	height: 40px;
	background-color: #ffc001;
	border:none;
	border-radius: 5px;
	cursor: pointer;
}

.bannerintleft button:hover{
	background-color: #ffdf7f;
}
.vitor{
	width: 350px;
	height: 320px;
	border-radius: 270px;

}
.medint{
	width: 100%;
	max-width: 1000px;
	margin: auto;

}
.formacaobasica{
	height: 90px;
	font-size: 20px;
	text-align: center;
	line-height: 90px;
}

.fotos{
	text-align: center;
}
.fotos .ft{
	width: 40%;
	height: 300px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
}

.rodape{
	margin-top: 40px;
	height: 50px;
	width: 100%;
	background-color: #347aba;	
	text-align: center;
	line-height: 50px;
	color: white;
}
.rodapeint{
	width: 1000px;
	line-height: 50px;
}

@media only screen and (max-width: 500px){
	.topo{
		height: 100px;
		background-color: #353535;
	}
	.logomarca{
		width: 100%;
		clear: both;
	}
	.menu{
		width: 100%;
		clear: both;
	}

	.banner{
		height: 550px; 
	}
	.bannerintleft{
		width: 100%;
	
	}
	.bannerintright{
		width: 100%;				
	}
	.vitor{
		width: 350px;
		height: 320px;
		border-radius: 270px;	
	}
	.fotos .ft{
		width: 50%;
		height: 200px;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 5px;
	}
}